<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>修改密码页</title>
</head>
<body>
    <header>	
        <h1>welcome {{username}}</h1>
        <p><strong>修改密码</strong></p>
    </header>
    <section>
        <form action="" method="post" id="UserFormForChange">
            原密码：
            <input type="password" name="password" id="password">
            <br/><br/>
            新密码：
            <input type="password" name="newPassword" id="newPassword">
            <br/><br/>
            新密码：
            <input type="password" name="newPasswordAgain" id="newPasswordAgain">
            <br/><br/>
            {{ok}}{{error}}<br/>
            {{uf.errors}}<br/>
            <button class="btn1" id="btn1" type="submit">确定</button>
            <a href="/logout">退出登录</a>
            <a href="/">返回</a>
        </form>
    </section>
</body>
</html>					
